.menu{
  border:4px solid orange;
  display:flex;
}
.precount{
  border:1px solid blue ;
}
.customCount{
  border:1px solid red;
}
.breathCounter{
  border:4px solid green;
}
.countDisplay{
  border:1px solid red;
}
.fade{
  transition: opacity ease-in-out 1s;
}
.visible{
  opacity:1;
}
.hidden{
  opacity:0;
}