:root html, body{
  height:98vh;
  border:1px solid blue ;
   display: flex;
  justify-content: center;
}

.menu {
  border: 4px solid orange;
  display: flex;
  justify-content: center;
  margin:80px;
}
.precount {
  border: 1px solid blue;
  margin:5px;
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customCount {
  border: 1px solid red;
    margin:5px;
  padding:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counterBox{
  /* border:1px solid blue; */
  display:flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}
.breathCounter {
  height:30vh;
  width:17vw;
  margin:10px;
  border: 4px solid green;
  border-radius: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation:breathing 1s ease-in-out infinite;
  animation-play-state: paused; /*have to include controls for start and stop*/
}
.breathCounter.active{
animation-play-state: running;
}
@keyframes breathing{
  0%{transform:scale(1);}
  50%{transform:scale(1.5);}
  100%{transform:scale(1);}
}

.breathText{
  border:1px solid black;
  position: relative;/*keeps text relative to the div it lives in*/
width:100%;
height:30%;
}
.breathText h1{
  position: absolute;
  top:50%;
  left:20%;
}
.complete{
  border:1px solid black;
  display:flex;
  justify-content: center;
  height:30%;

}
h2{
  text-align: center;
}
.btnDisplay {
  border: 1px solid red;
  margin:20px;
  padding:30px;
   display: flex;
  justify-content:space-evenly;
}
.fade {
  transition: opacity ease-in-out 1s;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
h1 {
  text-align: center;
}
