@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root, html,
body {
  height: 98vh;
  width:98vw;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  font-family: nunito;
  color:navy;
  background-image: url("./assets/skybg.jpg");
  background-size:cover;
}

.menu {
  border: 4px solid orange;
  background-image: url("./assets/singleCloud.png");
  background-size: cover;
  padding:5%;
  margin:0 auto;
  display: flex;
  justify-content:space-between ;
}
.precount, .customCount {
  border: 1px solid blue;
  border-radius: 20px;
  margin: 5px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.483);
}

select, input, button{ /*, allows me to add 2 classes*/
  border:4px solid navy;
  padding:8px;
  border-radius: 12px;
  text-align: center;
}
button{
  height:20%;
  width:20%;
}
.counterBox {
  /* border:1px solid blue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
}
.breathCounter {
  height: 30vh;
  width: 17vw;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.breathCounter::before {
  /* :: before is a pseudo element that creates a new layer within a container. this was used to stop the text from scaling in animation*/
  content: "";
  border-radius: 50%;
  border: 4px solid blue;
  background-color: rgba(240, 248, 255, 0.387);
  position: absolute; /*allows the before circle element to fill the parent container*/
  inset: 0; /*shorthand for the distance from the ::before element's edges of the positioned parent*/
  animation: breathing 8s ease-in-out infinite;
  animation-play-state: paused; /*have to include controls for start and stop*/
}
.breathCounter.active::before {
  animation-play-state: running;
}
@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.breathText {
  border: 1px solid black;
  position: relative; /*keeps text relative to the div it lives in*/
  width: 100%;
  height: 30%;
}
.breathText h1 {
  position: absolute;
  top: 50%;
  left: 20%;
}
.hiddenBeforeStart{
opacity:0;

}
.complete {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  height: 30%;
}
h2 {
  text-align: center;
}
.btnDisplay {
  border: 1px solid red;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
.fade {
  transition: opacity ease-in-out 1s;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
h1 {
  text-align: center;
  z-index: 0;
  margin-top:5%;
  margin-bottom: 10%;
}
